In [1]:
import pandas as pd

major_data = pd.read_csv('graduates-major-data.csv', delimiter = ";", decimal=",")

In [2]:
task_1_data = major_data.loc[(major_data['P_N'] >= 30) & (major_data['P_POZIOM'] == "2")]

task_1_data = task_1_data.groupby(['P_KIERUNEK_ID', 'P_KIERUNEK_NAZWA', 'P_NAZWA_UCZELNI'], as_index=False)["P_ME_ZAR_P5"].median()

task_1_data = task_1_data[['P_KIERUNEK_ID', "P_KIERUNEK_NAZWA", "P_NAZWA_UCZELNI", "P_ME_ZAR_P5"]]

task_1_data = task_1_data.sort_values(by='P_ME_ZAR_P5', ascending=False).head(10)

task_1_data["KIERUNEK"] = task_1_data["P_KIERUNEK_NAZWA"].astype("str") + "(" + task_1_data["P_KIERUNEK_ID"].astype("str") + ")"

In [3]:
list(task_1_data["KIERUNEK"])

['Informatyka(29646)',
 'Informatyka(22827)',
 'Informatyka(23912)',
 'Informatyka(7604)',
 'Informatyka(29464)',
 'Automatyka i robotyka(27839)',
 'Informatyka(8507)',
 'Informatyka(25706)',
 'Informatyka(27860)',
 'Informatyka(28422)']

In [4]:
task_1_data

,P_KIERUNEK_ID,P_KIERUNEK_NAZWA,P_NAZWA_UCZELNI,P_ME_ZAR_P5,KIERUNEK
1867,29646,Informatyka,Akademia Górniczo-Hutnicza im. Stanisława Stas...,13932.48,Informatyka(29646)
683,22827,Informatyka,Politechnika Warszawska,12962.67,Informatyka(22827)
922,23912,Informatyka,Politechnika Poznańska,12874.23,Informatyka(23912)
33,7604,Informatyka,Politechnika Warszawska,12832.00,Informatyka(7604)
1856,29464,Informatyka,Polsko-Japońska Wyższa Szkoła Technik Komputer...,12740.78,Informatyka(29464)
1622,27839,Automatyka i robotyka,Akademia Górniczo-Hutnicza im. Stanisława Stas...,12716.30,Automatyka i robotyka(27839)
58,8507,Informatyka,Politechnika Wrocławska,12416.86,Informatyka(8507)
1238,25706,Informatyka,Politechnika Gdańska,12239.22,Informatyka(25706)
1628,27860,Informatyka,Akademia Górniczo-Hutnicza im. Stanisława Stas...,12222.68,Informatyka(27860)
1723,28422,Informatyka,Wojskowa Akademia Techniczna im. Jarosława Dąb...,11963.65,Informatyka(28422)

In [5]:
import plotly.express as px
import plotly

graph_data = task_1_data

fig = px.bar(
    graph_data, 
    x = 'KIERUNEK', 
    y = 'P_ME_ZAR_P5',
    color = 'P_NAZWA_UCZELNI',
    
    category_orders=dict(group=list(task_1_data["KIERUNEK"])),
    
    title = "TOP 10 Kierunków z najwyższymi zarobkami (5 lat po ukończeniu studiów II stopnia)",

    labels={
        "P_ME_ZAR_P5": "Średnie zarobki po 5 latach od ukończenia studiów [PLN]",
        "KIERUNEK": "Kierunek",
        "P_NAZWA_UCZELNI": "Szkoła wyższa",
    }
)

fig.update_layout(xaxis_categoryorder = 'total descending')

plotly.offline.plot(fig, filename='TOP_10_Kierunków_zarobki.html')

'TOP_10_Kierunków_zarobki.html'

In [6]:
task_2_data = major_data.loc[
    (major_data["P_KIERUNEK_NAZWA"].str.lower().str.contains("informatyka"))
    & (major_data['P_N'].astype("int") > 25)
    & ((major_data['P_POZIOM'] == "1") | (major_data['P_POZIOM'] == "2"))
]

task_2_data = task_2_data[[
    'P_N', 
    
    'P_POZIOM', 
    'P_POZIOM_TEKST_PL',
    'P_N_SEMESTR',
    
    'P_NAZWA_UCZELNI',
    'P_KIERUNEK_NAZWA',
    
    'P_WWZ_MIES_60', 
    'P_E_ZAR_ETAT_P5', 
    'P_ZAR_ETAT_MAX', 
    'P_PROC_MIES_BEZR',
#     'P_PROC_MIES_BEZR_P1',
#     'P_PROC_MIES_BEZR_P2',
#     'P_PROC_MIES_BEZR_P3',
#     'P_PROC_MIES_BEZR_P4',
#     'P_PROC_MIES_BEZR_P5',
    'P_PROC_MIES_BEZR_DOSW',
#     'P_PROC_MIES_BEZR_DOSW_P1',
#     'P_PROC_MIES_BEZR_DOSW_P2',
#     'P_PROC_MIES_BEZR_DOSW_P3',
#     'P_PROC_MIES_BEZR_DOSW_P4',
#     'P_PROC_MIES_BEZR_DOSW_P5',
    
    'P_WWB',
#     'P_WWB_P1',
#     'P_WWB_P2',
#     'P_WWB_P3',
#     'P_WWB_P4',
#     'P_WWB_P5',
    
#     'P_CZY_ETAT',
#     'P_CZY_ETAT_P1',
#     'P_CZY_ETAT_P2',
#     'P_CZY_ETAT_P3',
#     'P_CZY_ETAT_P4',
#     'P_CZY_ETAT_P5',
    
    'P_ME_ZAR',
    'P_ME_ZAR_P1',
    'P_ME_ZAR_P5',
   ]]

task_2_data["ZWROT_INWESTYCJI_ABSOLUTNY"] = task_2_data['P_ME_ZAR']/task_2_data['P_N_SEMESTR']
task_2_data["ZWROT_INWESTYCJI_SZYBKOSC"] = (task_2_data['P_ME_ZAR_P5'] - task_2_data['P_ME_ZAR_P1'])/task_2_data['P_N_SEMESTR']

task_2_data

,P_N,P_POZIOM,P_POZIOM_TEKST_PL,P_N_SEMESTR,P_NAZWA_UCZELNI,P_KIERUNEK_NAZWA,P_WWZ_MIES_60,P_E_ZAR_ETAT_P5,P_ZAR_ETAT_MAX,P_PROC_MIES_BEZR,P_PROC_MIES_BEZR_DOSW,P_WWB,P_ME_ZAR,P_ME_ZAR_P1,P_ME_ZAR_P5,ZWROT_INWESTYCJI_ABSOLUTNY,ZWROT_INWESTYCJI_SZYBKOSC
49,84,1,Studia pierwszego stopnia,9,Politechnika Poznańska,Informatyka,1.80,8455.20,14783.40,0.5,0.0,0.09,5582.42,3939.88,7689.11,620.268889,416.581111
52,35,2,Studia drugiego stopnia,3,Politechnika Wrocławska,Informatyka,2.67,12559.47,14779.35,1.0,0.0,0.14,7490.32,5986.47,12416.86,2496.773333,2143.463333
65,58,2,Studia drugiego stopnia,4,Uniwersytet Ekonomiczny w Krakowie,Informatyka i ekonometria,2.18,8168.58,19388.61,2.7,0.0,0.34,6404.01,3978.92,7751.39,1601.002500,943.117500
111,40,1,Studia pierwszego stopnia,6,Wyższa Szkoła Bankowa w Poznaniu,Informatyka i ekonometria,1.82,6083.71,18684.57,2.3,1.0,0.32,4514.63,3348.12,4910.88,752.438333,260.460000
137,127,2,Studia drugiego stopnia,3,Politechnika Śląska,Informatyka,1.84,8969.02,13587.34,0.6,0.0,0.11,6157.27,3973.81,8706.79,2052.423333,1577.660000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34699,26,2,Studia drugiego stopnia,3,Państwowa Wyższa Szkoła Informatyki i Przedsię...,Informatyka,NaN,NaN,12501.23,8.4,4.8,0.91,4319.43,3889.23,NaN,1439.810000,NaN
34742,47,1,Studia pierwszego stopnia,7,Politechnika Koszalińska,Informatyka,NaN,NaN,12169.70,3.1,1.7,0.81,3595.09,3160.98,NaN,513.584286,NaN
34813,42,2,Studia drugiego stopnia,4,Politechnika Wrocławska,Informatyka,NaN,NaN,15213.19,0.6,0.0,0.10,9113.31,8699.17,NaN,2278.327500,NaN
34815,51,2,Studia drugiego stopnia,4,Uniwersytet Ekonomiczny we Wrocławiu,Informatyka w biznesie - k. unikatowy,NaN,NaN,16062.08,0.4,0.0,0.16,6387.61,6594.70,NaN,1596.902500,NaN
34831,51,1,Studia pierwszego stopnia,7,Państwowa Wyższa Szkoła Zawodowa im. Stanisław...,Informatyka,NaN,NaN,5907.24,14.8,0.6,2.96,2713.56,2274.96,NaN,387.651429,NaN

In [7]:
import plotly.express as px
import plotly

graph_data = task_2_data[['P_ME_ZAR', 'P_KIERUNEK_NAZWA', 'P_NAZWA_UCZELNI', 'P_POZIOM']]

fig = px.scatter(
    graph_data, 
    x = 'P_ME_ZAR', 
    y = 'P_KIERUNEK_NAZWA',
    color = 'P_NAZWA_UCZELNI',
    facet_col = 'P_POZIOM', 
        
    title = "Zarobki na studiach informatycznych",

    labels={
        "P_ME_ZAR": "Średnie zarobki [PLN]",
        "P_KIERUNEK_NAZWA": "Kierunek",
        "P_NAZWA_UCZELNI": "Szkoła wyższa",
        "P_POZIOM": "Stopień studiów"
    }
)

plotly.offline.plot(fig, filename='Średnie_zarobki.html')

'Średnie_zarobki.html'

In [8]:
import plotly.express as px
import plotly

graph_data = task_2_data[['ZWROT_INWESTYCJI_ABSOLUTNY', 'P_KIERUNEK_NAZWA', 'P_NAZWA_UCZELNI', 'P_POZIOM']]

fig = px.scatter(
    graph_data, 
    x = 'ZWROT_INWESTYCJI_ABSOLUTNY', 
    y = 'P_KIERUNEK_NAZWA',
    color = 'P_NAZWA_UCZELNI',
    facet_col = 'P_POZIOM', 
    
    title = "Zwrot inwestycji (absolutny)",

    labels={
        "ZWROT_INWESTYCJI_ABSOLUTNY": "Średnie zarobki / liczba semestrów",
        "P_KIERUNEK_NAZWA": "Kierunek",
        "P_NAZWA_UCZELNI": "Szkoła wyższa",
        "P_POZIOM": "Stopień studiów"
    }
)

plotly.offline.plot(fig, filename='Zwrot_inwestycji_absolutny.html')

'Zwrot_inwestycji_absolutny.html'

In [9]:
import plotly.express as px
import plotly

graph_data = task_2_data[['ZWROT_INWESTYCJI_SZYBKOSC', 'P_KIERUNEK_NAZWA', 'P_NAZWA_UCZELNI', 'P_POZIOM']]

fig = px.scatter(
    graph_data, 
    x = 'ZWROT_INWESTYCJI_SZYBKOSC', 
    y = 'P_KIERUNEK_NAZWA',
    color = 'P_NAZWA_UCZELNI',
    facet_col = 'P_POZIOM', 

    title = "Zwrot inwestycji (szybkość)",
    
    labels={
        "ZWROT_INWESTYCJI_SZYBKOSC": "Wzrost zarobków z 1 do 5 roku po studiach / liczba semestrów",
        "P_KIERUNEK_NAZWA": "Kierunek",
        "P_NAZWA_UCZELNI": "Szkoła wyższa",
        "P_POZIOM": "Stopień studiów"
    }
)

plotly.offline.plot(fig, filename='Zwrot_inwestycji_szybkość.html')

'Zwrot_inwestycji_szybkość.html'

In [10]:
task_3_data = major_data.loc[
    (major_data["P_ROKDYP"] == 2014)
    & (major_data["P_POZIOM"] == "2")
    & (major_data["P_WOJ"] == 14)
]

task_3_data = task_3_data[[
    'P_DZIEDZINA',
    
    'P_ME_ZAR_P1',
    'P_ME_ZAR_P2',
    'P_ME_ZAR_P3',
    'P_ME_ZAR_P4',
    'P_ME_ZAR_P5']]

# task_3_data = task_3_data.set_index('P_DZIEDZINA').T
task_3_data

tmp = pd.DataFrame(columns=['P_DZIEDZINA', "PO_ROKU", 'P_ME_ZAR'])

for index, row in task_3_data.iterrows():
    row_to_append = pd.DataFrame([[str(row['P_DZIEDZINA']), 1, row['P_ME_ZAR_P1']]], columns=['P_DZIEDZINA', "PO_ROKU", 'P_ME_ZAR'])
    tmp = tmp.append(row_to_append, ignore_index=True)
    row_to_append = pd.DataFrame([[str(row['P_DZIEDZINA']), 2, row['P_ME_ZAR_P2']]], columns=['P_DZIEDZINA', "PO_ROKU", 'P_ME_ZAR'])
    tmp = tmp.append(row_to_append, ignore_index=True)
    row_to_append = pd.DataFrame([[str(row['P_DZIEDZINA']), 3, row['P_ME_ZAR_P3']]], columns=['P_DZIEDZINA', "PO_ROKU", 'P_ME_ZAR'])
    tmp = tmp.append(row_to_append, ignore_index=True)
    row_to_append = pd.DataFrame([[str(row['P_DZIEDZINA']), 4, row['P_ME_ZAR_P4']]], columns=['P_DZIEDZINA', "PO_ROKU", 'P_ME_ZAR'])
    tmp = tmp.append(row_to_append, ignore_index=True)
    row_to_append = pd.DataFrame([[str(row['P_DZIEDZINA']), 5, row['P_ME_ZAR_P5']]], columns=['P_DZIEDZINA', "PO_ROKU", 'P_ME_ZAR'])
    tmp = tmp.append(row_to_append, ignore_index=True)
    
task_3_data = tmp[tmp["P_DZIEDZINA"] != "nan"]

In [11]:
import plotly.express as px

fig = px.line(
    task_3_data, 
    x = 'PO_ROKU',
    y = 'P_ME_ZAR',
    color = 'P_DZIEDZINA',
    
    title = "Zarobki po ukończeniu studiów wedle dziedziny",
    
    labels={
        "PO_ROKU": "Po n latach od ukończenia",
        "P_ME_ZAR": "Średnie zarobki [PLN]",
        "P_DZIEDZINA": "Dziedzina nauki",
    }
)

plotly.offline.plot(fig, filename='Zarobki_dziedzina.html')

'Zarobki_dziedzina.html'